@use '@angular/material' as mat;

.toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: transparent,
    )
  );

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 10;
  gap: 8px;
}

.app-title {
  font: var(--mat-sys-title-large);
  max-width: min(50ch, 50vw);
}

.toolbar-nav {
  display: flex;
  gap: 4px;
  margin-left: 16px;

  .toolbar-nav__active {
    background: var(--mat-sys-secondary-container);
    color: var(--mat-sys-on-secondary-container);
  }
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-actions {
  display: flex;
  gap: 8px;
}
